//- social media meta details
//- Facebook
block social-fb
    meta(
        property="og:title"
        content=fb.title
    )

    meta(
        property="og:url"
        content=fb.url
    )

    meta(
        property="og:image"
        content=fb.image
    )

    meta(
        property="og:description"
        content=fb.description
    )

    meta(
        property="og:site_name"
        content=fb.site_name
    )

    meta(
        property="og:type"
        content="article"
    )

//- Twitter
block social-twitter
    meta(
        name="twitter:card"
        content=twitter.card
    )

    meta(
        name="twitter:site"
        content=twitter.site
    )

    meta(
        name="twitter:creator"
        content=twitter.creator
    )

    meta(
        name="twitter:title"
        content=twitter.title
    )

    meta(
        name="twitter:url"
        content=twitter.url
    )

    meta(
        name="twitter:description"
        content=twitter.description
    )

    meta(
        name="twitter:image"
        content=twitter.image
    )

//- Google+
block social-gp
    meta(
        itemprop="name"
        content=gp.name
    )

    meta(
        itemprop="description"
        content=gp.description
    )

    meta(
        itemprop="audience"
        content=gp.audience
    )

    meta(
        itemprop="image"
        content=gp.image
    )

    meta(
        itemprop="alternativeHeadline"
        content=gp.alternativeHeadline
    )