//- apple touch icon
link(
   rel="icon"
   sizes="192x192"
   href="touch-icon-192x192.png"
)

link(
   rel="apple-touch-icon-precomposed"
   sizes="180x180"
   href="apple-touch-icon-180x180-precomposed.png"
)

link(
   rel="apple-touch-icon-precomposed"
   sizes="152x152"
   href="apple-touch-icon-152x152-precomposed.png"
)

link(
   rel="apple-touch-icon-precomposed"
   sizes="120x120"
   href="apple-touch-icon-120x120-precomposed.png"
)

link(
   rel="apple-touch-icon-precomposed"
   sizes="76x76"
   href="apple-touch-icon-76x76-precomposed.png"
)

link(
   rel="apple-touch-icon-precomposed"
   sizes="57x57"
   href="apple-touch-icon-72x72-precomposed.png"
)

link(
   rel="apple-touch-icon-precomposed"
   href="apple-touch-icon-precomposed.png"
)